*{
   background-color: rgb(0, 0, 0);
}


/*BARRA DE NAVEGACIÓN*/
header {
   display: flex;
   height: 100px;
   background-color: black;
   justify-content: space-between;
   align-items: center;
   border-bottom: solid white 2px;
}

.logo { 
   display: flex;
   margin: 10px;
}

.logo img { 
   height: 70px;
   margin-right: 15px;
}

.logo h1 {
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
   margin-right: 20px;
   margin: 10px;
}

nav a:hover {
   color: rgb(117, 108, 22);
   font-size: 1.6em;
}
.nav__link {
   color: white;
   padding-left: 15px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 1.2em;
   text-decoration: none;
}

/* BANNER DE ENCABEZADO DE LA PAGINA */
.contenedor__banner {
   display: block;
}

.contenedor__banner--img {
   width: 100vw;
   position: relative;
   display: inline-block;
   text-align: center;
}

.contenedor__banner img {
   width: 100vw;
   margin-bottom: 10px;
}

.texto__banner {
   position: absolute;
   top: 70%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 10px;
   color: white;
   font-size:1.5em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   text-transform:capitalize;
   
}

/*FOOTER DE LA PAGINA*/
footer {
   display: flex;
   border-top: solid white 2px;
   margin: 10px;
}

.contenedor__footer {
   width: 33vw;
   margin: 20px;
   padding: 20px;
   color:white;
   background-color: black;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: justify;
   }

.contenedor__footer img {
   height: 30px;
   margin: 15px;
   
}

.redes {
   display: flex;
   align-items: center;
}

/* esto no me estaria funcionando. So sad
.redes a:hover {
   color: rgb(117, 108, 22);
   font-size: 2em;
}*/

footer button {
   color: white;
   border: white solid 3px;
   padding: 15px;
   width: 20vw;
   font-size: 1.8em;
   font-weight: 900;
}

footer button:hover {
   color: rgb(117, 108, 22);
   font-size: 2em;
}

/* CUERPO DE LA PAGINA INDEX */
.contenedor__secciones {
   display: flex;
   width: 100vw;
}

.contenedor__secciones--img {
   width: 40vw;
   display: flex;
   position: relative;
   display: inline-block;
   text-align: center;
   margin-bottom: 30px;
}

.contenedor__secciones--img img {
   width: 40vw;
}

.contenedor__secciones--descripcion {
   margin-right: 4vw;
   padding: 50px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: justify;
   text-transform: capitalize;
}

.contenedor__secciones--descripcion h2 {
   color: rgb(255, 255, 255);

}

.contenedor__secciones--descripcion p {
   color: rgb(117, 108, 22);
   font-size:1.3em;
}

.contenedor__secciones--descripcion a {
   color: rgb(255, 255, 255);
   font-size:1.1em;
   text-decoration: none;
}

.contenedor__secciones--descripcion a:hover {
   font-size:1.3em;
   text-decoration: none;
}

.frase-intermedia {
   color: white;
   font-size:1em;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
   text-transform: capitalize;
   margin: 10px;
}

/* CUERPO DE LA PAGINA CASAS y MENUES */

.container__aux {
   background-color: rgb(0, 0, 0);
   width: 20vw;
   display: inline-block;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 25px
}
.container__aux img {
   display: flex;
   width: 20vw;
   height: 20vw;
   padding: 10px;
}

.container__textaux {
   display: flex;
   flex-direction: column;
   color:white;
   width: 20vw;
   padding: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container__textaux p {
   color: rgb(117, 108, 22);
   text-align: justify;
}

/* CUERPO DE LA PAGINA COMUNIDAD */
.container__casa {
   background-color: rgb(0, 0, 0);
   width: 100vw;
   display: inline-block;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 0 25px
}

.container__casa iframe {
  display: inline-block;
  width: ;
}

.container__casa img {
  display: inline-block;
  height: 315px;
}

.container__textcasa {
   display: flex;
   flex-direction: column;
   color:white;
   width: 100vw;
   padding: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* CUERPO DE LA PAGINA CHEFFS */
.bg-negropop {
   background-color: #000;
 }

 .color-secundario {
   color: rgb(117, 108, 22);
}

footer h2, h3 {
   color: rgb(117, 108, 22);
}


#logo {
    height: 40px;
    width:40px;
    transition: width height border 3000ms;
 }

 #logo:hover {
    height: 50px;
    width:50px;
    border: solid white;
 }

 .logo-redes {
    height: 40px;
    width:40px;   
 }

 .pincipal-carousel {
    font-size: calc(20px + 1.8vw);
 }

 .secuendario-carousel {
    font-size: calc(10px + 1vw);
 }

 @media only screen and (max-width: 768px) {
   /* Para que se entiendan mejor las secciones en el footer mobil*/
   .top-border-footer {
     border-top: dashed white;
   }
}
