.color-secundario {
    color: $color2;
 }
 
 footer h2, h3 {
    color: $color2;
 }
 
 .pincipal-carousel {
    font-size: calc(20px + 1.8vw);
 }

 .secuendario-carousel {
    font-size: calc(10px + 1vw);
 }
