
@mixin formato-texto($color,$font-family,$font-size) {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
}


.navbar {
    .navbar-nav {
        .nav-item {
            .nav-link:hover {
                color: $color2;
            }
        }
    }
}


.carousel-item {
    h5 {
        @include formato-texto($color2,$font2,$font-size1);
    }
    p {
        @include formato-texto($color1,$font3,$font-size2);
    }
}

// comiendo del problema con extend. Ver comentario al final
.container-seccion {
    h5 {
        @include formato-texto($color2,$font2,$font-size5);
    }
    p {
        @include formato-texto($color1,$font2,$font-size5);
        small {
            a {
                color: $color2;
                text-decoration: none;
                border: 1px solid $color2;
                padding: 6px;
            }
            a:hover {
                font-weight: bolder;
            }
        }
    }
}


#card-ayuda {
    h5 {
        color: $color2;
    }
    a {
        color: $color2;
        text-decoration: none;
        border: 1px solid $color2;
        padding: 6px;
    }
    a:hover {
        font-weight: bolder;
    }
}

// Intenté aplicar @extend .container-seccion a;

.box-pie-comunidad {
    h5 {
        @include formato-texto($color2,$font2,$font-size5);
    }
    p {
        @include formato-texto($color1,$font2,$font-size5);
    }
}

label {
    @include formato-texto($color2,$font3,$font-size2);
}


footer {
    h2 {
        @include formato-texto($color2,$font3,$font-size5);
    }
    h3 {
        @include formato-texto($color2,$font3,$font-size7);
    }
    p {
        @include formato-texto($color1,$font2,$font-size6);
    }
}

