//Colors
$Color1: rgba(231, 227, 227, 0.849);
$color2:  rgb(117, 108, 22);
$color3: #000


//Font
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

$font1: "'Caveat', cursive;";
$font2: "'Oxygen', sans-serif;";
$font3: "'Raleway', sans-serif;";
